
<%= includes ./partials/head%>
<%= includes ./partials/header%>

<h1>Landed!</h1>
<%= dogOwner.dog.id{%>
    <%= dog.%>
    <% } %>
//get to page
//dog info (:id stuff, for updating and deleting)
//HyperRef from my dogs
//create functions(delete, then update maybe the ById variety) within dog controller
//route to this page
//can I insert a script?
//test test test

<%= includes ./partials/footer%>